body{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    justify-content: center;
    margin: 0;
    color: white;
    font-family: monospace, sans-serif;
    flex: 1

}

.header{
    background-color: #12171d;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    gap: 35%;
    flex-wrap: wrap;
}

li{
    list-style-type: none;
    transition-duration: 0.4s;
}

a{
    text-decoration: none;
    color: white;
}

#author{
    font-weight: 1000;
    text-decoration: underline;
}

h1{
    font-weight: bolder;
}

.header-links{
    display: flex;
    gap: 50px;
}

.front-image{
    border: 1px solid ;
    border-radius: 20%;
    flex-shrink: 0;
}

.image{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;

}

.front{
    display: flex;
    flex-direction: column;
}

.front-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    flex-wrap: wrap;
    gap: 10%;
    padding: 50px;
}

.front-context{
    line-height: 1.25;
    font-size: larger;
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;
}

button{
    font-family: 'Courier New', Courier, monospace, sans-serif;
    width: 90px;
    height: 40px;
    color:white;
    border: 1px solid;
    border-radius: 5px;
    transition-duration: 0.4s;
}

button#top{
    background-color: #3c7ee7;
}

button#bottom{
    background-color: #263a57;
}

.mid-container{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;
    padding: 50px 0;
    
}

.card-container{
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 60px;
}

.card{
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
    gap: 10px;
}

a > img{
    transition-duration: 0.4s;
}

.info-image{
    border: 1px solid white;
    border-radius: 15%;
}

.quote-container{
    background-color: #E5E7EB;
    color: black;
    display: flex;
    justify-content: center;

}

.quote{
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 40px;
    flex-wrap: wrap;
}

.quote-content{
    max-width: 600px;
    flex: 1 1 auto;
}

.quote-author{
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
}

.advertise-container{
    background-color: white;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.advertise{
    display: flex;
    justify-content: center;
    flex-basis: 1000px;
    flex-wrap: wrap;
    border: 5px solid #2f4666;
    border-radius: 5px;
    background-color: #2f4666;
    gap: 15%
}

.advertise-text{
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex-basis: 350px;
}

.bottom.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer{
    background-color: #12171d;
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

a > img:hover, button:hover, li:hover{
    transition-duration: 0.4s;
    transform: scale(1.2);
}

